{% extends 'base.html' %}

{% block content %}
    <div class="main-content">
        <div class="about-section">
            <h1>Обо мне</h1>
            <p>Добро пожаловать на мою страницу! Я профессионал в области здоровья и фитнеса с многолетним опытом работы. Моя цель - помочь людям достигнуть их физических и психологических целей, предоставляя проверенные методики тренировок и советы по здоровому образу жизни.</p>
        </div>

        <div class="biography">
            <h2>Биография</h2>
            <p>Я начал свою карьеру в фитнесе более 10 лет назад. С тех пор я помог многим людям улучшить их здоровье и физическую форму. Мои основные принципы - это индивидуальный подход, безопасность и эффективность.</p>
            <p>Кроме того, я активно участвую в различных фитнес-мероприятиях и постоянно обучаюсь новым методикам и техникам, чтобы предлагать своим клиентам только самые современные и действенные решения.</p>
        </div>

        <div class="achievements">
            <h2>Достижения</h2>
            <ul>
                <li>Сертифицированный тренер по фитнесу и питанию</li>
                <li>Автор нескольких публикаций в области здоровья и фитнеса</li>
                <li>Участник и призер множества фитнес-соревнований</li>
                <li>Лектор на международных конференциях по фитнесу и здоровому образу жизни</li>
            </ul>
        </div>

        <div class="philosophy">
            <h2>Моя философия</h2>
            <p>Я верю, что здоровый образ жизни доступен каждому. Моя миссия - вдохновлять и мотивировать людей на изменения, которые улучшат их жизнь. Я стремлюсь сделать фитнес и здоровье частью повседневной жизни каждого, предоставляя практичные советы и поддерживая своих клиентов на каждом шагу их пути к улучшению.</p>
        </div>

        <div class="contact">
            <h2>Свяжитесь со мной</h2>
            <p>Если у вас есть вопросы или вы хотите получить консультацию, пожалуйста, оставьте свои вопросы после регистарции <a href="{% url 'create_form_person' %}">в форме</a> или можете найти контактные данные на странице <a href="{% url 'contact' %}">контактов</a>.</p>
        </div>
    </div>
{% endblock %}
