{% extends 'base.html' %}

{% block content %}
    <div class="main-content">

        <div class="welcome-section">
            <p><strong>Добро пожаловать обратно, {{ user.username }}!</strong></p>
            <p>Мы рады видеть вас снова. Здесь вы найдете разнообразные упражнения для всех частей тела, полезные советы по питанию и здоровому образу жизни. Продолжайте использовать наши проверенные методики тренировок и инновационные подходы, чтобы поддерживать ваше здоровье и физическую форму.</p>
        </div>

        <div class="dashboard-section">
            <h2>Ваши возможности на сайте:</h2>
            <ol>
                <li><strong>Доступ к эксклюзивным упражнениям для спины,</strong> которые помогут вам улучшить самочувствие.</li>
                <li><strong>Возможность написать свои жалобы и получить рекомендации,</strong> заполнив анкету и тест для оценки вашего текущего состояния.</li>
                <li><strong>Отслеживание вашего прогресса,</strong> и получение новых рекомендаций на основе ваших достижений и обратной связи.</li>
            </ol>
        </div>

        <img src="/static/health_app/images/1.png" alt="Doctor" width="400" height="auto" style="display: block; margin: 20px auto;">
        
    </div>
{% endblock %}
