{% extends 'base.html' %}

{% block content %}
    <div class="main-content">
        <div class="contact-section">
            <h1>Свяжитесь с нами</h1>
            <p>Если у вас есть вопросы, предложения или вам нужна дополнительная информация, не стесняйтесь обращаться к нам. Мы здесь, чтобы помочь вам!</p>
        </div>

        <div class="contact-info">
            <h2>Наши контактные данные</h2>
            <p><strong>Адрес:</strong> 1234 Фитнес Авеню, Здоровый Город, ЗГ 56789</p>
            <p><strong>Телефон:</strong> +1 (234) 567-8901</p>
            <p><strong>Электронная почта:</strong> neurological.helper@gmail.com</p>
        </div>
    </div>
{% endblock %}
