{% extends 'base.html' %}

{% block content %}
    <div class="main-content">

        <div class="welcome-section">
            <p><strong>Добро пожаловать на наш сайт!</strong></p>
            <p>Здесь вы найдете разнообразные упражнения для всех частей тела, полезные советы по питанию и здоровому образу жизни. Мы предлагаем проверенные методики тренировок и инновационные подходы, чтобы вы могли наслаждаться эффективными и безопасными занятиями. Узнайте больше о поддержании здоровья и физической формы, и начните свой путь к улучшению самочувствия уже сегодня!</p>
        </div>

        <div class="benefits-section">
            <h2>После регистрации на сайте вы сможете:</h2>
            <ol>
                <li><strong>Скачать упражнения для спины и получить видеорекомендации по выполнению,</strong> которые помогут вам почувствовать себя значительно лучше.</li>
                <li><strong>Получить консультацию при наличии жалоб и рекомендации по дальнейшим действиям,</strong> предварительно заполнив анкету и тест для оценки психологического состояния.</li>
            </ol>
        </div>

        <img src="/static/health_app/images/1.png" alt="Doctor" width="300" height=auto style="display: block; margin: 50px auto;">

        <p class="auth-link"><a href="{% url 'users:login' %}">Войти</a></p>
        <p class="auth-link"><a href="{% url 'users:register' %}">Регистрация</a></p>


    </div>
{% endblock %}





