{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <h1>Регистрация</h1>
    <link rel="stylesheet" href="{% static 'health_app/css/styles.css' %}">

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <div class="form-group">
            <p><button type="submit">Регистрация</button></p>
        </div>
    </form>
{% endblock %}
